body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ebebeb;
}
main{
    min-height: 475px;
}

.image-thumbnail img{
    height: 300px;
}

footer a{
    text-decoration: none;
}